// Lark grammar for Manchester Syntax (OWL DL)

start: equivalence
     | subsumption
     | disjoint


equivalence: WORD "EquivalentTo" (base | parenthesized | negated | inverse)
subsumption: WORD "SubClassOf" (base | parenthesized | negated | inverse)
disjoint: WORD "DisjointWith" (base | parenthesized | negated | inverse)
intersection: (base | parenthesized | negated | inverse) "and" (base | parenthesized | negated | inverse)
union: (base | parenthesized | negated | inverse) "or" (base | parenthesized | negated | inverse)
base: (WORD | restriction | cardinality_restriction | intersection | union)
parenthesized: "(" (base | parenthesized | negated | inverse) ")"
negated: "not" (base | parenthesized | inverse)
inverse: "Inverse (" (base | parenthesized | negated ) ")"
restriction: WORD RES WORD
cardinality_restriction: WORD CARD_RES INT WORD
// TODO: dp_restriction: WORD RES DATATYPE "[" _separated{val_restriction, ","} "]"
// TODO: val_restriction: (">" | "<") "="? INT


// TODO: _separated{x, sep}: x (sep x) ~ 0..1


RES: "some" | "only" | "value"
CARD_RES: "min" | "max" | "exactly"
// data types currently supported by Owlready2: https://owlready2.readthedocs.io/en/latest/properties.html?highlight=float#data-property
DATATYPE: "xsd:integer" | "xsd:float" | "xsd:boolean" | "xsd:string" | "xsd:dateTime"


%import common.WORD
%import common.INT
%import common.WS
%ignore WS


// TODO: handle data properties, e.g., "diam only xsd:integer [ > 0 , < 5]"
