// Lark grammar for Manchester Syntax (OWL DL)

start: equivalence
     | subsumption
     | disjoint


equivalence: WORD "EquivalentTo" expression

subsumption: WORD "SubClassOf" expression

disjoint: WORD "DisjointWith" expression

intersection: expression "and" expression

union: expression "or" expression

expression: (WORD | restriction | cardinality_restriction | intersection | union | negation)

restriction: WORD RES WORD

cardinality_restriction: WORD CARD_RES INT WORD

negation: "not" (WORD | restriction | cardinality_restriction | intersection | union)


RES: "some" | "only" | "value"

CARD_RES: "min" | "max" | "exactly"


%import common.WORD
%import common.INT
%import common.WS
%ignore WS


// TODO: handle parentheses - relevant for negation, union, and intersection
