var options = {
    "nodes": {
        "color": "rgba(153,153,153,1)",
        "font": {
        "color": "rgba(52,52,52,1)"
        }
    },
    "edges": {
        "color": {
        "inherit": true
        },
        "font": {
        "color": "rgba(158,158,158,1)",
        "strokeWidth": 0
        },
        "smooth": false
    },
    "physics": {
        "minVelocity": 0.75
    }
}